[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
dotenv = "*"
redis = "*"
langchain = "*"
langchain-groq = "*"
langchain-community = "*"
langchain-huggingface = "*"
faiss-cpu = "*"
sentence-transformers = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.11"
